* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: monospace;
  color: #f5f5f5;
  outline: none;
}

:root {
  --grey-color: #696969;
}

body {
  max-width: 600px;
  margin: 0 auto;
  background-color: #000000;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.header {
  text-align: center;
  padding: 10px;
  line-height: 2rem;
}

.header h1 {
  font-size: 3rem;
  padding: 1rem;
}

.header p {
  font-size: 1.1rem;
  font-style: italic;
}

#survey-form {
  background-color: #111c2560;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: stretch;
}

#survey-form .input {
  width: 100%;
  padding: 10px;
  color: #000000;
}

#survey-form *:focus {
  border: 1px solid #37fc82;
  border-radius: 5px;
  padding: 11px;
}

.fix {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  color: var(--grey-color);
}

#survey-form label {
  padding: 15px;
  font-size: 1.2rem;
}

#dropdown > option {
  margin: 0;
  color: var(--grey-color);
  font-size: 1.2rem;
}

.chk-and-rad {
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

textarea {
  resize: vertical;
  margin-left: 11px;
  padding: 10px;
  width: 97%;
  color: var(--grey-color);
}

/* button */

#submit {
  color: white;
  background-color: #61cc61a8;
  border: 1px solid #c7c4c4;
  margin: 10px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.7s;
}

#submit:hover {
  background-color: #61cc61fd;
  border-color: #ffffff;
  border-radius: 5px;
}
